<style>
  table>tbody>tr:hover {background-color: rgb(0, 204, 255); color: white;}
  table>tbody>tr:active {font-size: 0.9rem; background-color:  rgba(9, 121, 150, 0.897);}
</style>

<sch-header></sch-header>
<select-nav (selectionChanged)="reload()"></select-nav>

<!--Show this table if loading is complete and model has data-->
<div class="container-fluid pt-2" *ngIf="completed; else loading">
  <table class="table table-md table-bordered table-striped text-dark">
    <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Sex</th>
        <th>Class</th>
        <th>Session</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of students; let i = index" 
      [routerLink]="['details', item.id]" data-bs-toggle="tooltip" data-bs-placement="top" 
      title="Click to view details">
        <td>{{ i + 1 }}</td>
        <td>{{item.lastName + " " + item.middleName +" " + item.firstName}}</td>
        <td>{{item.sex}}</td>
        <td>{{item._class + item.arm}}</td>
        <td>{{item.session}}</td>
      </tr>
    </tbody>
  </table>
<!--Show this if loading is complete and model has data-->
<div *ngIf="completed && students.length > 0; else nodata"></div>
</div>

<!--Show if loading is ongoing-->
<ng-template #loading>
  <div class="d-flex justify-content-center align-items-center pt-2" *ngIf="completed === false; else load">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>  
</ng-template>

<!--Show this if loading is complete and model has no data-->
<ng-template #nodata>
<div p-1>
  <h5>No students available...</h5>
</div>
</ng-template>

<!--Show this if loading is not ongoing-->
<ng-template #load>
  <div class="text-center">
      <h5 class="text-muted my-2">Click the load button...</h5>
      <!--Load button-->
      <button class="btn btn-outline-success m-1" (click)="loadBtn()" >Load</button>
  </div>
</ng-template>

  
