<div class="border border-primary border-2 container col-md-8 mx-auto">
    <div class="d-flex justify-content-around">
        <div class="card my-2 w-25">
            <a href="#" class="page-link">
                <div class="card-header bg-primary">
                    View Classes
                </div>
                <div class="card-body" style="background-color: rgb(142, 222, 247);">
                    <p>
                        You can view the basic infomation such as name, 
                        admission number, age, class, etc 
                        about all students in the class here.
                    </p>
                </div>
            </a>    
        </div>
        
        <div class="card text-white my-2 w-25" style="background-color: rgb(0, 174, 255);">
            <a href="classList.html" class="page-link">
                <div class="card-header bg-primary">
                    View Subjects
                </div>
                <div class="card-body">
                    You can view and Edit the scores of students in a particular subject.
                </div>
            </a>
        </div>
        
    </div>
</div>