<sch-header></sch-header>
<div class="container-fluid">
    <div class="row" *ngFor="let klasses of classes">
        <div class="col-sm-4" *ngFor="let klass of klasses">
          <div class="card text-center my-2">
            <div class="card-header bg-primary">
              <div class="row">
                <div class="col"><h1 class="card-title">{{klass.name}}</h1></div>
                <div class="col-auto">
                  <button class="btn rounded-circle text-white" data-bs-toggle="dropdown"><span class="fa fa-ellipsis-v"></span></button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="openCreateArmModal(klass.name, klass.id)">Create Arm</a></li>
                    <li><a href="" class="dropdown-item">Edit</a></li>
                    <li><a href="" class="dropdown-item">Delete</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body" style="background-color: rgb(142, 222, 247)">
              <div class="row">
                <div class="col" *ngFor="let classArm of klass.classArms">
                    <div class="card text-center shadow">
                      <div class="card-body">
                        <h4>{{classArm.arm?.name}}</h4>
                        <p>{{classArm.courseCategory?.category}}</p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>